@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* * {
    padding: 0;
    margin: 0;
}*/

body {
  background-image: url(https://i.pinimg.com/564x/b1/11/a2/b111a25586bdc0df8e537f2cc77a8679.jpg);
  color: rgb(215, 110, 247);
  font: normal 16px "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:active {
  color: lightslategrey;
}
a:visited {
  color: rgb(151, 151, 1);
}

.for-overlay {
  position: relative;
  width: 50%;
}

.avatar {
  display: block;
  width: 200px;
  border-radius: 100px;
  box-shadow: 2px 2px 15px rgba(215, 110, 247, 25);
  
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  border-radius: 100px;
  transition: .5s ease;
  background-color: #cf9fd1;
}

.for-overlay:hover .overlay {
  opacity: 0.5;
}

.text-on-photo {
  color: rgb(158, 21, 147);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 30px;
  color: black;
}


.info p {
  color: olive;
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .social {
    background: rgb(233, 178, 255);
    padding: 15px;
    border: 2px solid rgb(124, 150, 226);
} */

/* .box-model >div {
    float: left;
background: black;
height: 200px;
border: 4px solid rgb(157, 197, 105);
width: 25%;
box-sizing: border-box;
} */

.bg-pinkish {
  background: rgb(88, 104, 155);
}

.bg-purpleish {
  background: rgb(57, 90, 76);
}

.bg-pinkish2 {
  background: rgb(231, 174, 207);
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: olive;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(1),
.table td:nth-child(2),
.table td:nth-child(3) {
  color: olive;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  /* padding-bottom: 5px; */
  border-bottom: 1px solid olive;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: rgb(215, 110, 247);
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid olive;
  color: olive;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20%;
}

.row > .form-group:first-child {
  margin-right: 0;
}

.btn {
  background: rgb(215, 110, 247);
  padding: 15px 20px;
  color: rgb(231, 174, 207);
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 30px;
}

.btn:hover {
  opacity: 0.9;
}

/* .position {
position: relative;
border: 4px solid steelblue;
margin-top: 40px;
padding: 20px;
height: 300px;
}

.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: darkolivegreen;
} */
